* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.calculator {
  border: 1px solid #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  margin-top: 0px;
  background-color: blue;
  color: black;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

button {
  width: 150px;
  height: 60px;
  background-color: black;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 5rem;
  color: #333;
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent 50%,
    rgba(0, 0, 0, 0.04)
  );
}

button:hover {
  background-color: blue;
}

.operator {
  color: #337cac;
}

.all-clear {
  background-color: green;
  border-color: #b0353a;
  color: #fff;
}

.all-clear:hover {
  background-color: #f17377;
}

.clear {
  background-color: red;
  border-color: #b0353a;
  color: #fff;
  height: -200%%;
}

.clear:hover {
  background-color: #8d9e9b;
}

.equal {
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
  height: 70%;
  grid-area: 5/4/ 2/4;
}

.equal:hover {
  background-color: #4e9ed4;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}
